<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="conStr" value="Host=127.0.0.1; Port=5432; Database=uprint; Username=uprint; Password=55555;" />
    <add key="modelsPath" value="models/" />
    <add key="scriptsPath" value="sql/" />
  </appSettings>
</configuration>